*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./assets/hero.jpg);
    background-size: cover;
    min-height: 500px;
    height: 100vh;
    color: white;
}

.nav{
    --state-close: scale(0);
    --state-hamburguer: scale(1); 
    --state-menu: translate(-100%);
    padding: 40px 0px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-close: scale(1);
    --state-hamburguer: scale(0);
    --state-menu: translate(0%);
}

.navlogo{
    font-size: 2.5rem;
    z-index: 1;
}

.navhamburguer,
.navclose{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: 0.4s transform;
}

.navhamburguer{
    transform: var(--state-hamburguer);
}

.navclose{
    transform: var(--state-close);
}

.navicon{
    width: 40px;
}

.navlinks{
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    
    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: 0.3s transform;
}

.navitem{
    list-style: none;
}

.navlink{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

@media (min-width:768px){
    .nav{
        --state-hamburguer: scale(0); 
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .navlinks{
        padding: 0px;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;        
    }

    .navlink{
        font-size: 1rem;
        letter-spacing: none;
    }
}